@import url("https://fonts.googleapis.com/css?family=Rowdies:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat Brush:400,500,600,700&display=swap");
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #b1acaf;
    font-family: "Rowdies",'sans-serif';
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: rgb(194, 187, 187);
    font-family: "Caveat Brush", sans-serif;
  }
  .logo {
    color: black;
    text-transform: uppercase;
  
    font-size: 3em;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 5em;
  }
  .nav-links li {
    list-style: none;
  }
  
  .nav-links li:hover {
    background-color: white;
    border-radius: 0.7em;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 1rem;
    display: block;
    font-family: "Caveat Brush";
    font-size: 1.5em;
    font-weight: 550;
  }
  .burger {
    display: none;
  }
  .burger div {
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 3px;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    
    .logo {
      font-size: 1.7em;
      padding: 0.5em 1em;
      font-weight: 600;
    }
  
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background: #5d4954;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in;
    }
    .nav-links li {
      opacity: 0;
    }
  
    .nav-links li a {
      color: white;
      font-size: 1.2em;
    }
  
    .nav-links li:hover {
      background-color: #757575;
      padding-left: 20px;
      padding-right: 20px;
    }
    .burger {
      display: block;
    }
  }

  .nav-active {
    transform: translateX(0%);
    z-index: 1;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

.container{
    width: 900px;
    margin: 70px auto;
}

.Book , .check{
    width: 50%;
    background-color: #fff;
    height: 60px;
    float: left;
    font-size: large;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
}

.book-form , .check-form{
    background-color: #fff;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;
}

.textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 10px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transition: all 0.5s ease;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transition: all 0.5s ease;
}

.input:focus{
    border: 2px solid #34b3a0;
}

input, label{
    display: block;
}

.btn{
    width: 100%;
    background-color: #34b3a0;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

@media (max-width: 700px){
    .container{
        width: 370px;
    }
}