@import url("https://fonts.googleapis.com/css?family=Caveat Brush:400,500,600,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.menu {
  height: 100px;
  width: 100%;
  background: rgba(255, 232, 168, 0.959);
  font-family: "Caveat Brush", sans-serif;
}
.leftmenu {
  width: 40%;
  float: left;

  line-height: 70px;
  margin-top: 10px;
}
.leftmenu h3 {
  padding-left: 70px;
  font-weight: 1000;
  font-size: 50px;
  text-align: center;
}
.rightmenu {
  width: 60%;
  height: 100px;

  float: right;
}
.rightmenu ul {
  margin-left: 200px;
}
.rightmenu ul li {
  font-size: 30px;
  line-height: 100px;
  margin-left: 50px;
  display: inline-block;

  font-weight: 500;
  color: black;
  list-style: none;
}
.text {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 3em;
}
.texttwo {
  text-indent: 100px;
  word-spacing: 5px;
}
.img {
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.animation {
  background: #e0ebeb;
}

.animation ul {
  margin: 150px;
  padding: 50px;
  width: 1200px;
  display: flex;
}
.animation ul li .imagebox {
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  padding: 10px;
}
.animation ul li .imagebox figure {
  position: relative;

  margin: 0;
  padding: 0;
  overflow: hidden;
}
.animation ul li .imagebox figure img {
  height: 100%;
  width: 100%;
}
.animation ul li .imagebox figure figcaption {
  position: absolute;

  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  background: #fff;
  text-align: centre;
  padding: 20px;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.animation ul li .imagebox:hover figure figcaption {
  opacity: 1;
  transform: translateY(0px);
}

.animation ul li .imagebox figure figcaption h1 {
  text-align: centre;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.border-bottom {
  border: 1px solid gray;
  margin: 0 2em;
}

.image-bottom {
  border: 1px solid grey;
  margin: 0 2em;
  margin-top: 1em;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding-top: 0.5em;
  color: white;
  font-family: "", sans-serif;
  margin-top: 1em;
  letter-spacing: 0.1em;
}

.social {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-top: 0.5em;
}
.loc {
  background: black;
  background-color: black;
}
h4 {
  margin-bottom: 0.5em;
  margin-top: 0.2em;
}
.social img {
  margin-left: 20px;
  margin-right: 20px;
}
.copyright {
  font-size: 13px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: rgb(182, 180, 180);
}

.adress-bottom {
  border: 1px solid whitesmoke;
  width: 60%;
  margin: 0 6em;
}
@import url("https://fonts.googleapis.com/css?family=Caveat Brush:400,500,600,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 10vh;
  background: rgba(255, 232, 168, 0.959);
  font-family: "Caveat Brush", sans-serif;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.text-content {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 3em;
}

.logo {
  color: black;
  text-transform: uppercase;

  font-size: 3em;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: 5em;
}
.nav-links li {
  list-style: none;
}

.nav-links li:hover {
  background-color: white;
  border-radius: 0.7em;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 1rem;
  display: block;
  font-family: "Caveat Brush";
  font-size: 1.5em;
  font-weight: 550;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 5px;
  background-color: rgb(226, 226, 226);
  margin: 3px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.image-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  background-color: black;
  height: 100%;
  width: 100%;
  position: relative;
}
.image-container img {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 90px;
}

.container .card {
  position: relative;
  max-width: 330px;
  height: 215px;
  background: whitesmoke;
  margin: 30px 10px;
  display: flex;
  padding: 20px 15px;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 420px;
}

.container .card .img-box {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.199);
}

.container .card .img-box img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 100ms;
}

.transit::after {
  content: "SERVICES";
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Caveat";
  font-size: 1em;
  font-weight: 800;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.transit:hover::after {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .paragraph {
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.5em;
  }
  .text-content {
    font-size: 1em;
    padding: 0 0;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }

  .container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: whitesmoke;
    margin: 30px 10px;
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
  }

  .container .card:hover {
    height: 420px;
  }

  .container .card .img-box {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 7px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.199);
  }

  .container .card .img-box img {
    max-width: 100%;
    border-radius: 4px;
  }

  .container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .image-container div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    position: relative;
  }

  .image-container img {
    width: 100%;
    height: 100%;
  }

  .transit::after {
    content: "SERVICES";
    background: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  .logo {
    font-size: 1.7em;
    padding: 0.5em 1em;
    font-weight: 600;
  }
  .copyright {
    margin-bottom: 0.5em;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    color: white;
    font-size: 1.2em;
  }

  .nav-links li:hover {
    background-color: #757575;
    padding-left: 20px;
    padding-right: 20px;
  }
  .burger {
    display: block;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 29vh;
    background: black;
    color: white;
    font-family: "", sans-serif;
    margin-top: 1em;
    letter-spacing: 0.1em;
  }
}
.nav-active {
  transform: translateX(0%);
  z-index: 1;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.border-bottom {
  border: 1px solid gray;
  margin: 0 2em;
}

.image-bottom {
  border: 1px solid grey;
  margin: 0 2em;
  margin-top: 1em;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding-top: 0.5em;
  color: white;
  font-family: "", sans-serif;
  margin-top: 1em;
  letter-spacing: 0.1em;
}

.social {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-top: 0.5em;
}
.loc {
  background: black;
  background-color: black;
}
h4 {
  margin-bottom: 0.5em;
  margin-top: 0.2em;
}
.social img {
  margin-left: 20px;
  margin-right: 20px;
}
.copyright {
  font-size: 13px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: rgb(182, 180, 180);
}

.adress-bottom {
  border: 1px solid whitesmoke;
  width: 60%;
  margin: 0 6em;
}
