@import url("https://fonts.googleapis.com/css?family=Caveat Brush:400,500,600,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: rgb(194, 187, 187);
  font-family: "Caveat Brush", sans-serif;
}
.logo {
  color: black;
  text-transform: uppercase;

  font-size: 3em;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: 5em;
}
.nav-links li {
  list-style: none;
}

.nav-links li:hover {
  background-color: white;
  border-radius: 0.7em;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 1rem;
  display: block;
  font-family: "Caveat Brush";
  font-size: 1.5em;
  font-weight: 550;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 5px;
  background-color: rgb(226, 226, 226);
  margin: 3px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.image-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  background-color: black;
  height: 100%;
  width: 100%;
  position: relative;
}
.image-container img {
  width: 100%;
  height: 100%;
}

.para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.content {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 3em;
}

.transit::after {
  content: "WELCOME TO CARGO PACKERS & MOVERS";
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Caveat";
  font-size: 1em;
  font-weight: 800;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.transit:hover::after {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .para {
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.5em;
  }
  .content {
    font-size: 1em;
    padding: 0 0;
  }
  .image-container div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    position: relative;
  }

  .image-container img {
    width: 100%;
    height: 100%;
  }

  .transit::after {
    content: "WELCOME TO CARGO PACKERS & MOVERS";
    background: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  .logo {
    font-size: 1.7em;
    padding: 0.5em 1em;
    font-weight: 600;
  }
  .copyright {
    margin-bottom: 0.5em;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    color: white;
    font-size: 1.2em;
  }

  .nav-links li:hover {
    background-color: #757575;
    padding-left: 20px;
    padding-right: 20px;
  }
  .burger {
    display: block;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 29vh;
    background: black;

    color: white;
    font-family: "", sans-serif;
    margin-top: 1em;
    letter-spacing: 0.1em;
  }
}
.nav-active {
  transform: translateX(0%);
  z-index: 1;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.border-bottom {
  border: 1px solid gray;
  margin: 0 2em;
}

.image-bottom {
  border: 1px solid grey;
  margin: 0 2em;
  margin-top: 1em;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding-top: 0.5em;
  color: white;
  font-family: "", sans-serif;
  margin-top: 1em;
  letter-spacing: 0.1em;
}

.social {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-top: 0.5em;
}
.loc {
  background: black;
  background-color: black;
}
h4 {
  margin-bottom: 0.5em;
  margin-top: 0.2em;
}
.social img {
  margin-left: 20px;
  margin-right: 20px;
}
.copyright {
  font-size: 13px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: rgb(182, 180, 180);
}

.adress-bottom {
  border: 1px solid whitesmoke;
  width: 60%;
  margin: 0 6em;
}
