header {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  text-align: center;
  nav {
    float: center;
    ul {
      list-style-type: none;
    }
    li {
      margin: 0px;
      display: inline-flex;
      background-color: transparent;
      padding: 7px;
      a {
        text-decoration: none;
        color: powderblue;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

footer {
  display: flex;
  background-color: black;
  small {
    width: 100%;
    color: blueviolet;
    margin-top: 10px;

    nav {
      float: right;
      margin-right: 20px;
      ul {
        list-style-type: none;
      }
      li {
        margin: 0px;
        display: inline-flex;
      }
    }
  }
}
